---
layout: default
---
<h2 style="border-bottom: 2px solid #dddddd; padding-bottom: 10px">Categories:</h2>
<br>
<hr>
<!-- iterate through all categories on the site -->
{% for catitem in site.categories %}
  <!-- for each tag, create an anchor by using the tag name as an id -->
  <div id="{{ catitem[0] }}">
    <h4> {{ catitem[0] }} </h4>  <!-- for create a heading -->

    <ul> <!-- create the list of posts -->
      <!-- iterate through all the posts on the site -->
      {% for post in site.posts %}
        <!-- list only those which contain the current tag -->
        {% if post.categories contains catitem[0] %}
            <li>
              <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endfor %}
